{% extends 'main/base_generic.html' %}

{% block title %}
    {{ block.super }}
    - Config Editor
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        function config_editor_add() {
            $("#config_editor_list").append(
                            '<tr>' +
                            '    <input type="hidden" class="config_editor_entry" name="idx" value="-1">' +
                            '    <td class="config_editor_entry" data-name="key" contenteditable="true"></td>' +
                            '    <td class="config_editor_entry" data-name="value" contenteditable="true"></td>' +
                            '    <td>' +
                            '        <label>remove:' +
                            '            <input class="config_editor_entry" type="checkbox" name="remove">' +
                            '        </label>' +
                            '    </td>' +
                            '</tr>'
            )
        }

        function config_editor_save() {
            var idx = [];
            var key = [];
            var value = [];
            var remove = [];
            $(".config_editor_entry[name*='idx']").each(function() {
                idx.push($(this).val());
            });
            $(".config_editor_entry[data-name*='key']").each(function() {
                key.push($(this).text());
            });
            $(".config_editor_entry[data-name*='value']").each(function() {
                value.push($(this).text());
            });
            $(".config_editor_entry[name*='remove']").each(function() {
                remove.push($(this).prop("checked"));
            });

            submit_and_redirect($(this).attr("data-url"), {
                "idx[]": idx,
                "key[]": key,
                "value[]": value,
                "remove[]": remove
            })
        }

        $(document).on("click", ".config_editor_add_button", config_editor_add);
        $(document).on("click", ".config_editor_save_button", config_editor_save);
    </script>
{% endblock %}

{% block content %}
    Config Editor
    <table id="config_editor_list">
        <tr>
            <td>Key</td>
            <td>Value</td>
            <td>Options</td>
        </tr>
        {% for config in configs %}
            <tr>
                <input type="hidden" class="config_editor_entry" name="idx" value="{{ config.id }}">
                <td class="config_editor_entry" data-name="key" contenteditable="true">{{ config.key }}</td>
                <td class="config_editor_entry" data-name="value" contenteditable="true">{{ config.value }}</td>
                <td>
                    <label>remove:
                        <input class="config_editor_entry" type="checkbox" name="remove">
                    </label>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button class="config_editor_add_button">add</button>
    <button class="config_editor_save_button" data-url="{% url 'main:config:config_editor_save' %}">save</button>
{% endblock %}
