{% extends 'main/base_generic.html' %}

{% block title %}
    {{ block.super }}
    - Page Editor
{% endblock %}

{% block content %}
    {{ page.title }}
    <br>
    <!--suppress HtmlFormInputWithoutLabel -->
    <textarea class="page_editor_entry" name="content">{{ page.content }}</textarea>
    <input type="hidden" class="page_editor_entry" name="idx" value="{{ page.id }}">
    <button id="page_editor_save_button" data-url="{% url 'main:config:page_edit_save' %}" data-redirect="{% url 'main:config:page_list' %}">save</button>
{% endblock %}