<li class="toggleable_container">
    {% if not user.is_authenticated %}
        <div class="toggleable hidden popup_entry">
            <label>login: <input class="login_entry" type="text" name="login"></label>
            <label>password: <input class="login_entry" type="password" name="password"></label>
            <button id="login_button" data-url="{% url 'main:login' %}">login</button>
        </div>
        <div class="link toggleable block popup_entry toggle_button">Login</div>
    {% else %}
        <div class="popup_entry">
            Logged as {{ user.username }}
        </div>
        <div class="link popup_entry logout_button" data-url="{% url 'main:logout' %}">Logout</div>
    {% endif %}
</li>
{% if user.is_staff %}
    <li>
        <a class="block popup_entry" href="{% url 'main:config:page_list' %}">Page List</a>
    </li>
    <li>
        <a class="block popup_entry" href="{% url 'main:config:config_editor' %}">Config Editor</a>
    </li>
{% endif %}
