{% load main.page_list %}
{% get_page_list %}

{# TODO type select #}

<div class="main_menu_entry toggleable toggleable_container {{ hidden }} main_menu_entry_edit">
    <ul class="clean">
        <li><label>title:<br><input name="title" type="text" value="{{ entry.title }}"></label></li>
        <li class="toggleable {{ hidden }}">
            <label>destination page: <select name="dest_page">
                    <option value="">-------</option>
                    {% for page in page_list %}
                    <option value="{{ page.id }}" {% if entry.dest_page and entry.dest_page == page.id|slugify %}selected="selected"{% endif %}>{{ page.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </li>
        <li class="toggleable {{ hidden }} }}"><label>destination url: <input name="dest_url" type="text" value="{{ entry.dest_url }}"></label></li>
        <li class="toggleable {{ hidden }} }}"><label>remove: <input type="checkbox" name="remove"></label></li>
        <input type="hidden" name="idx" value="{% if entry.id %}{{ entry.id }}{% else %}-1{% endif %}">
        <li><div class="align_right"><button class="toggle_button">more</button></div></li>
    </ul>
</div>
