<div class="main_menu_entry toggleable toggleable_container {{ hidden }} main_menu_entry_edit">
    <ul class="clean">
        <li><label>title:<br><input name="title" type="text" value="{{ entry.title }}"></label></li>
        <li class="toggleable {{ hidden }}"><label>dest_page: <input name="dest_page" type="text" value="{{ entry.dest_page }}"></label></li>
        <li class="toggleable {{ hidden }}"><label>dest_name: <input name="dest_name" type="text" value="{{ entry.dest_name }}"></label></li>
        <li class="toggleable {{ hidden }} }}"><label>dest_url: <input name="dest_url" type="text" value="{{ entry.dest_url }}"></label></li>
        <li class="toggleable {{ hidden }} }}"><label>remove: <input type="checkbox" name="remove"></label></li>
        <input type="hidden" name="idx" value="{% if entry.id %}{{ entry.id }}{% else %}-1{% endif %}">
        <li><div class="align_right"><button class="toggle_button">more</button></div></li>
    </ul>
</div>
