body {
    white-space: nowrap;
    color: #c6c6c6;
    background: #a0a0a0;
}

a {
    color: #c6c6c6;
}

a:hover {
    color: #ebebeb;
}

div.main_wrapper {
    min-width: 650px;
    width: 95%;
    margin: auto;
}

div.page_wrapper {
    margin: 0 50px;
    background: #303030;
}

div.title_bar a {
    text-decoration: none;
}

div.title_bar {
    min-height: 10px;
    text-align: center;
    font-size: xx-large;
    background: #101010;
    color: #ffffff;
    padding: 25px;
}

div.popup_menu a {
    text-decoration: none;
}

div.popup_menu {
    width: 200px;
    min-height: 0;
    float: right;
    background: #3b3b3b;
}

div.popup_menu_wrapper {
    white-space: normal;
    min-width: 500px;
    width: 80%;
    height: 0;
    position: absolute;
}

div.left_page {
    white-space: normal;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

div.center_page {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
}

div.content_wrapper {
    height: 100%;
    background: #131313;
}

div.content {
    padding: 15px;
}

ul.popup_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

ul.popup_menu_list li {
    margin: 5px;
}

.popup_entry {
    padding: 5px;
}

ul.popup_menu_list li {
    background: #232323;
}

ul.popup_menu_list .clickable:hover {
    background: rgb(21, 21, 21);
}

ul.main_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.main_menu li {
    margin: 20px 10px 20px -30px;
    background: #0c0c0c;
}

ul.main_menu a {
    text-decoration: none;
}

.main_menu_entry:hover {
    background: rgb(66, 66, 66);
    color: #ebebeb;
}

div.popup_menu_hide_button {
    text-align: center;
    height: 16px;
    background: #000000;
}

.main_menu_entry {
    padding: 10px
}

.popup_show_icon {
    width: 24px;
    height: 16px;
    margin: 0 auto;
    background: #242424;
}

textarea.page_editor_entry {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
}

ul.clean {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.clean li {
    margin: 0;
    padding: 0;
}
