{% load main.base_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="{% language %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}{% title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/{{ active_theme }}/main/base.css">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base_scripts.js" %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>

<div class="main_wrapper">
    <div class="title_bar">
        {% block site_title %}
            <a href="{% url 'main:home' %}">{% title %}</a>
        {% endblock %}
    </div>
    <div class="page_wrapper">
        <div class="popup_menu_wrapper">
            <div class="popup_menu slidable_container">
                <ul class="slidable popup_menu_list">
                    {% block popup_menu %}
                        {% include 'main/popup_menu.html' %}
                    {% endblock %}
                </ul>
                <div class="slide_button popup_menu_hide_button">
                    <div class="popup_show_icon"></div>
                </div>
            </div>
        </div>
        <div class="left_page">
            <div class="main_menu_container toggleable_container sortable_container">
                <ul id="main_menu_list" class="main_menu sortable">
                    {% block main_menu %}
                        {% include 'main/main_menu.html' %}
                    {% endblock %}
                </ul>
                {% if user.is_staff %}
                    <div class="main_menu_config">
                        <button class="toggle_button sorting_button toggleable">edit</button>
                        <button id="main_menu_add_entry_button" class="toggleable hidden">add</button>
                        <button id="main_menu_save_button" class="toggleable hidden" data-url="{% url 'main:config:main_menu_save' %}">save</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="center_page">
            <div class="content_wrapper">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
