{% load main.menus %}

<script type="text/javascript">
    function main_menu_save() {
        var main_menu_list = $("#main_menu_list");
        var idx = [];
        var title = [];
        var dest_url = [];
        var dest_page = [];
        var remove = [];
        main_menu_list.find("input[name*='idx']").each(function() {
            idx.push($(this).val());
        });
        main_menu_list.find("input[name*='title']").each(function() {
            title.push($(this).val());
        });
        main_menu_list.find("select[name*='dest_page']").each(function() {
            dest_page.push($(this).val());
        });
        main_menu_list.find("input[name*='dest_url']").each(function() {
            dest_url.push($(this).val());
        });
        main_menu_list.find("input[name*='remove']").each(function() {
            remove.push($(this).prop("checked"));
        });

        submit_and_redirect($(this).attr("data-url"),
                {
                    'idx[]': idx,
                    'title[]': title,
                    'dest_page[]': dest_page,
                    'dest_url[]': dest_url,
                    'remove[]': remove
                });
    }

    function main_menu_add_entry() {
        {% spaceless %}
        $("#main_menu_list").append(
                '<li>{% include 'main/main_menu_edit_entry.html' %}</li>'
        );
        {% endspaceless %}
    }

    $(document).on("click", "#main_menu_save_button", main_menu_save);
    $(document).on("click", "#main_menu_add_entry_button", main_menu_add_entry);
</script>

{% get_main_menu %}
<ul id="main_menu_list" class="main_menu sortable">
{% for entry in main_menu %}
    <li>
        {% if entry.dest_page %}
            {% url 'main:page' entry.dest_page as u %}
            <a class="block main_menu_entry toggleable" href="{{ u }}">
                {{ entry.title }}
            </a>
        {% elif entry.dest_url %}
            <a class="block main_menu_entry toggleable" href="{{ entry.dest_url }}">
                {{ entry.title }}
            </a>
        {% else %}
            <div class="main_menu_entry toggleable">
                {{ entry.title }}
            </div>
        {% endif %}

        {% if user.is_staff %}
            {% with hidden='hidden' %}
            {% include 'main/main_menu_edit_entry.html' %}
            {% endwith %}
        {% endif %}
    </li>
{% endfor %}
</ul>
{% if user.is_staff %}
    <div class="align_right">
        <button class="toggle_button sorting_button toggleable">edit</button>
        <button class="toggle_button sorting_button toggleable hidden">cancel</button>
        <button id="main_menu_add_entry_button" class="toggleable hidden">add</button>
        <button id="main_menu_save_button" class="toggleable hidden" data-url="{% url 'main:config:main_menu_save' %}">save</button>
    </div>
{% endif %}
