<script type="text/javascript">
    function theme_select_change() {
        var new_theme = $(this).val();
        submit_and_redirect($(this).attr("data-url"), {
            'new_theme': new_theme
        });
    }

    $(document).on("change", ".theme_select", theme_select_change);
</script>

{% load main.themes %}
<li class="toggleable_container">
    {% include 'main/login_form.html' %}
</li>
{% if user.is_staff %}
    <li>
        <a class="block popup_entry" href="{% url 'main:config:page_list' %}">Page List</a>
    </li>
    <li>
        <a class="block popup_entry" href="{% url 'main:config:config_editor' %}">Config Editor</a>
    </li>
{% endif %}

<li class="popup_entry">
    <label>
        Theme:
        <select class="theme_select" data-url="{% url 'main:change_theme' %}">
            {% get_themes_list %}
            {% for k in themes_list %}
                <option value="{{ k }}"
                        {% if k == active_theme %}selected="selected"{% endif %}>
                    {{ k }}
                </option>
            {% endfor %}
        </select>
    </label>
</li>
