.block {
    display: block;
}

.right {
    text-align: right;
}

.hidden {
    display: none;
}

ul.clean {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.clean li {
    margin: 0;
    padding: 0;
}

input {
    max-width: 95%;
}

.align_right {
    text-align: right;
}

.link {
    cursor: pointer;
}
